Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_php7.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>
